@font-face {
  font-family: "Century Gothic";
  src: url("fonts/century-gothic.ttf");
}

@font-face {
  font-family: "Champagne and Limos";
  src: url("fonts/champagne-and-limos.ttf");
}

@font-face {
  font-family: "Cheese Pizza";
  src: url("fonts/cheese-pizza.ttf");
}

@font-face {
  font-family: "Good Times";
  src: url("fonts/good-times.ttf");
}

.hover.trident { font-size: 17px; }

.fb {
  font-style: normal;
  color: rgb(0, 0, 240);
}

.fbLink {
  font-family: "Champagne and Limos";
  font-size: 25px;
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.hover {
  font-family: "Cheese Pizza";
  font-size: 25px;
  color: rgb(255, 255, 255);
  
  /* Taken from http://stackoverflow.com/questions/2570972/css-font-border */
  text-shadow:
    -1px 0px rgb(0, 0, 0),
    0px 1px rgb(0, 0, 0),
    1px 0px rgb(0, 0, 0),
    0px -1px rgb(0, 0, 0);
}

.subText {
  font-family: "Good Times";
  font-size: 16px;
  color: rgb(255, 255, 255);
  text-align: center;
}