@keyframes bannerFlip {
  0% { transform: rotate(0deg); }
  25% { transform: rotate(5deg); }
  50% { transform: rotate(0deg); }
  75% { transform: rotate(-5deg); }
  100% { transform: rotate(0deg); }
}

@keyframes bannerMove {
  from { right: 1000px; }
  to { right: 450px; }
}

@keyframes carMove {
  from { left: 0px; }
  to { left: 500px; }
}

@keyframes tyreMove {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/*
Safari and Chrome:
https://developer.mozilla.org/en-US/docs/Web/CSS/animation#Browser_compatibility
https://developer.mozilla.org/en-US/docs/Web/CSS/transform#Browser_compatibility
*/

@-webkit-keyframes bannerFlip {
  0% { -webkit-transform: rotate(0deg); }
  25% { -webkit-transform: rotate(5deg); }
  50% { -webkit-transform: rotate(0deg); }
  75% { -webkit-transform: rotate(-5deg); }
  100% { -webkit-transform: rotate(0deg); }
}

@-webkit-keyframes bannerMove {
  from { right: 1000px; }
  to { right: 450px; }
}

@-webkit-keyframes carMove {
  from { left: 0px; }
  to { left: 500px; }
}

@-webkit-keyframes tyreMove {
  from { -webkit-transform: rotate(0deg); }
  to { -webkit-transform: rotate(360deg); }
}

.banner > * { margin-right: -5px; }
.backTyre { right: 630px; }
.frontTyre { right: 240px; }

.attachment {
  position: relative;
  top: -20px;
}

.banner {
  position: relative;
  top: 45px;
}

.car {
  position: relative;
  bottom: 180px;
  left: 450px;
}

.carTyre {
  position: relative;
  animation: tyreMove 1s linear infinite;
  -webkit-animation: tyreMove 1s linear infinite;
}

.creator {
  position: relative;
  top: 20px;
}

.fbLinkInLarge {
  position: relative;
  right: 200px;
}

.largeAdvert {
  width: 0px;
  height: 0px;
  visibility: hidden;
  background-image: url("images/large_background.png");
}

.largeAdvert.show {
  width: 1000px;
  height: 250px;
  visibility: visible;
}

.largeAdvert.show > .banner  {
  animation: bannerMove 2s ease-in,
    bannerFlip 2s ease-in 500ms infinite;
  -webkit-animation: bannerMove 2s ease-in,
    bannerFlip 2s ease-in 500ms infinite;
}

.largeAdvert.show > .car {
  animation: carMove 2s ease-in;
  -webkit-animation: carMove 2s ease-in;
}