.mainPhoto {
    position: relative;
	left: 100%;
}

.mainPhoto.view { left: 0%; }
#photo_frame { overflow: hidden; }

@media screen and (max-width: 360px) and (max-height: 640px) {
    #photo.view { left: -25%; }
}